.corTexto {
    color: rgb(58, 233, 254);
    text-align: center;
  }
.input {
    display: block; 
    width: 25%; 
    margin: 0 auto; 
 
  display: flex; 
  justify-content: flex-start; 
  align-items: center; 
  
}
.inputs {
  display: flex;
    width: 25%; 
    margin: 0 auto; 
  justify-content: flex-start; 
  align-items: center; 
  
}
button {
    display: block; 
    width: 25%; 
    margin: 0 auto; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  margin-bottom: 5px;
}

.label{
    width: 25%;
    margin: 0 auto;
  display: flex; 
  justify-content:left; 
  align-items:center;
  
  
}

h4{
    width: 25%; 
    margin: 0 auto; 
  display: flex; 
  justify-content: left; 
  align-items: center; 
  font-size: 19px;
  color: rgb(58, 233, 254);
}

.campo-container {
  width: 25%;
  margin: 0 auto;
display: flex; 
justify-content:left; 
align-items:center;
}

.add-button {
  background-color: #007bff; /* Cor de fundo do botão + */
  color: #fff; /* Cor do texto do botão + */
  border: none;
  border-radius: 50%; /* Para tornar o botão circular */
  width: 20px; /* Largura do botão + */
  height: 20px; /* Altura do botão + */
  cursor: pointer;
  display: inline;
  margin-left: 4px;
}

